@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway:wght@100&display=swap");
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
}
html,
body {
	height: 100%;
	background-color: #174043;
	color: #ffffff;
}

.container {
	align-items: center;
	margin: 50px;
}

.search-box {
	width: fit-content;
	height: fit-content;
	position: relative;
}
.input-search {
	height: 50px;
	width: 50px;
	border-style: none;
	padding: 10px;
	font-size: 18px;
	letter-spacing: 2px;
	outline: none;
	border-radius: 25px;
	transition: all 0.5s ease-in-out;
	background-color: #22a6b3;
	padding-right: 40px;
	color: #fff;
}
.input-search::placeholder {
	color: rgba(255, 255, 255, 0.5);
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 100;
}
.btn-search {
	width: 50px;
	height: 50px;
	border-style: none;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	border-radius: 50%;
	position: absolute;
	right: 0px;
	color: #ffffff;
	background-color: transparent;
	pointer-events: painted;
}
.btn-search:focus ~ .input-search {
	width: 300px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
	width: 300px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.categories {
	transform: translate(-50%, -50%);
}
.header {
	padding: 40px;
	background-color: #06728a;
	height: 180px;
	width: 100%;
}
.navbar {
	display: flex;
}
.header_item {
	margin: auto;
}
.title {
	margin: 10px;
	text-align: center;
	font-size: 500%;
	font-family: "Press Start 2P", cursive;
}
