@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway:wght@100&display=swap");
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
}
html,
body {
	height: 100%;
	background-color: #174043 !important;
	color: #ffffff;
}
.header {
	padding: 10px;
	background-color: #06728a;
	height: 170px;
	width: 100%;
	color: #fff;
}
.navbar {
	display: flex;
}
.header_title {
	margin: auto;
}
.header_controler1 {
	margin-left: 25rem;
}
.header_controler2 {
	margin-right: 25rem;
}
.title {
	text-align: center;
	font-size: 500%;
	font-family: "Press Start 2P", cursive;
}

.container {
	align-items: center;
	margin: 50px;
}
.games {
	background-color: #174043 !important;
}
.search-box {
	width: fit-content;
	height: fit-content;
	position: relative;
}
.input-search {
	height: 50px;
	width: 50px;
	border-style: none;
	padding: 10px;
	font-size: 18px;
	letter-spacing: 2px;
	outline: none;
	border-radius: 25px;
	transition: all 0.5s ease-in-out;
	background-color: #06728a;
	padding-right: 40px;
	color: #fff;
}
.input-search::placeholder {
	color: #fff;
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 100;
}
.btn-search {
	width: 50px;
	height: 50px;
	border-style: none;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	border-radius: 50%;
	position: absolute;
	right: 0px;
	color: #ffffff;
	background-color: transparent;
	pointer-events: painted;
}
.btn-search:focus ~ .input-search {
	width: 300px;
	border-radius: 0px;
	background-color: #1a9bb7;
	border-radius: 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
	width: 300px;
	border-radius: 0px;
	background-color: #1a9bb7;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.categories {
	display: inline-block;
	margin-left: 30px;
	margin-top: 20px;
}
.custom-select-wrapper {
	position: relative;
	display: inline-block;
	user-select: none;
}
.custom-select-wrapper select {
	display: none;
}
.custom-select {
	position: relative;
	display: inline-block;
	font-weight: bolder;
}
.custom-select-trigger {
	position: relative;
	display: block;
	width: 250px;
	padding: 0 84px 0 22px;
	font-size: 22px;
	font-weight: 300;
	color: #fff;
	line-height: 60px;
	background: #06728a;
	border-radius: 15px;
	cursor: pointer;
}
.custom-select-trigger:after {
	position: absolute;
	display: block;
	content: "";
	width: 10px;
	height: 10px;
	top: 50%;
	right: 25px;
	margin-top: -3px;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	transform: rotate(45deg) translateY(-50%);
	transition: all 0.4s ease-in-out;
	transform-origin: 50% 0;
}
.custom-select.opened .custom-select-trigger:after {
	margin-top: 3px;
	transform: rotate(-135deg) translateY(-50%);
}
.custom-options {
	position: absolute;
	display: block;
	top: 100%;
	left: 0;
	right: 0;
	min-width: 100%;
	margin: 15px 0;
	border: 1px solid #1a9bb7;
	border-radius: 15px;
	box-sizing: border-box;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
	background: #1a9bb7;
	transition: all 0.4s ease-in-out;

	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transform: translateY(-15px);
}
.custom-select.opened .custom-options {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
	transform: translateY(0);
}
.custom-options:before {
	position: absolute;
	display: block;
	content: "";
	bottom: 100%;
	right: 25px;
	width: 7px;
	height: 7px;
	margin-bottom: -4px;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	background: #1a9bb7;
	transform: rotate(45deg);
	transition: all 0.4s ease-in-out;
}
.option-hover:before {
	background: #f9f9f9;
}
.custom-option {
	position: relative;
	display: block;
	padding: 0 22px;
	border-bottom: 1px solid #fff;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	line-height: 47px;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
}
.custom-option:first-of-type {
	border-radius: 15px 15px 0 0;
}
.custom-option:last-of-type {
	border-bottom: 0;
	border-radius: 0 0 15px 15px;
}
.custom-option:hover,
.custom-option.selection {
	background: #ddcece;
}

.card {
	perspective: 150rem;
	height: 15rem;
	max-width: 300px;
	margin: 2rem;
	background-color: #174043 !important;
	color: #fff;
}

.card-side {
	color: #fff;
	height: 15rem;
	border-radius: 15px;
	transition: all 0.8s ease;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	padding: 2rem;
}

.card-side.back {
	transform: rotateY(-180deg);
	background-color: #1a9bb7;
}

.card-side.front {
	background-color: #06728a;
}

.card:hover .card-side.front {
	transform: rotateY(180deg);
}

.card:hover .card-side.back {
	transform: rotateY(0deg);
}
